pandas==1.5.2
selenium==4.7.2
streamlit==1.20
plotly==5.11.0
numpy==1.23.5
matplotlib==3.6.2
statsmodels==0.13.5
google-auth==2.16.0
google-api-python-client
google-cloud-bigquery==3.5.0
altair==4.2.2